html {
	scrollbar-color: rgb(1, 1, 1) rgb(110, 110, 110);
	margin: 0px;
	background-color: #092a48;
	font-family: 'Ubuntu', sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: center;
	scroll-behavior: smooth;
}

.apropos ul li {
	border: 15px solid #1352c0;
	border-radius: 15px;
	background-color: #1352c0;
	color: rgb(192, 192, 192);
	margin-bottom: 10px;
}

li {
	border: 7px 0px 0px 0px solid #232327;
	border-radius: 0px;
	border-left: 4px solid green;
	padding: 5px;
	background-color: #232327;
	margin-bottom: 0px;
	color: rgb(158, 158, 158);
}

p {
	border: 7px solid #232327;
	border-radius: 0px;
	text-align: left;
	border-left: 4px solid green;
	padding-left: 5px;
	background-color: #232327;
	margin-bottom: 0px;
	color: rgb(158, 158, 158);
}

#sources li{
	border: 10px;
	margin-bottom: 3px;
	text-align: left;
	color: whitesmoke;
	background-color: transparent;
	padding: 5px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

body {
	margin: 0px;
	width: 100%;
	display: block;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#Histoire a {
	color: black;
	text-decoration: none;
	font-weight: bold;
}

#header {
	position: fixed;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	top: 0;
	z-index: 1;
	width: 100%;
}

#progress-container {
	display: none;
}

.progress-container {
	width: 100%;
	height: 20px;
	background: black;
}

.progress-bar {
	height: 20px;
	background: #29bbea;
	width: 0%;
}

#mainmenu {
	margin: auto;
	width: 100%;
	height: 100%;
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#mainmenu p {
	font-size: 1em;
	width: 100%;
	margin-top: 7%;
	margin-bottom: 20px;
	text-align: center;
}

#navigate {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	border-radius: 30px;
	border-width: 0px;
	background-color: #c2d5d8;
	margin-top: 5%;
	animation-name: fondu;
	animation-duration: 3s;
}

.navigate {
	color: #092a48;
	text-decoration: none;
	background-color: #c2d5d8;
	padding: 20px;
	font-size: 2.3em;
	border-style: solid;
	border-color: #c2d5d8;
	border-radius: 30px;
}

.navigate:hover {
	color: #c2d5d8;
	background-color: #092a48;
	animation-name: focusicon;
	animation-duration: 0.3s;
	transform: scale(1.3);
}

#homy {
	margin-top: 15px;
}

button {
	background-color: transparent;
	border-color: transparent;
}

#Histoire {
	margin-top: 100px;
	margin-bottom: 30px;
	width: 55%;
	font-size: 1.1em;
	width: 60%;
	text-align: justify;
	color: #959595;
	vertical-align: middle;
}

h2 {
	margin-top: 80px;
	font-size: 1.6em;
	text-align: center;
	color: white;
	color: rgb(253, 23, 23);
	animation-name: fondu;
	animation-duration: 3s;
}

h3 {
	color: #2870ec;
	text-align: left;
	align-items: left;
	justify-content: left;
	font-size: 1.3em;
	margin-top: 30px;
	animation-name: fondu;
	animation-duration: 3s;
}

.icon {
	width: 100px;
	height: 100px;
	border-radius: 100px;
	animation-name: animateicon;
	animation-duration: 1s;
}

.icon:hover {
	transform: scale(1.3);
	animation-name: focusicon;
	animation-duration: 0.5s;
}

ul {
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left: 10%;
	margin-right: 10%;
	font-size: 1em;
	width: 85%;
	list-style-type: none;
	padding: 0px;
	text-align: left;
	animation-name: fondu;
	animation-duration: 3s;
}

ul ul li {
	list-style-type: circle;
	font-size: 1em;
	text-align: left;
	animation-name: fondu;
	animation-duration: 3s;
	border: transparent;
	border-left: green;
	background-color: transparent;
}

#scienceetonnante {
	color: black;
	font-weight: bold;
	animation-name: fondu;
	animation-duration: 3s;
}

#lestatistiques {
	margin: auto;
	margin-bottom: 50px;
	width: 500px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	animation-name: fondu;
	animation-duration: 3s;
}

#lestatistiques p {
	text-align: center;
	font-weight: bold;
	animation-name: fondu;
	animation-duration: 3s;
}

.date {
	color: red;
	font-weight: bold;
	animation-name: fondu;
	animation-duration: 3s;
}

.graphics {
	width: 100%;
	border-radius: 0px;
	margin-top: 50px;
	border-radius: 30px;
	border-width: 0px;
	animation-name: grand;
	animation-duration: 2s;
}

#sources {
	font-size: 0.8em;
	animation-name: fondu;
	animation-duration: 3s;
}

.apropos {
	border-radius: 0px 0px 25px 25px;
	animation-name: fondu;
	animation-duration: 3s;
}

#questionnaire {
	margin-top: 150px;
	height: 2200px;
	animation-name: fondu;
	animation-duration: 3s;
}

@media (max-width: 1000px) {
	html {
		overflow-y: scroll;
		-ms-overflow-style: none;
		/* IE and Edge */
		scrollbar-width: none;
		/* Firefox */
	}

	html::-webkit-scrollbar {
		display: none;
	}

	#Histoire {
		width: 90%;
		font-size: 1em;
	}

	h2 {
		margin-left: 10%;
		margin-right: 10%;
	}
}

@media (max-width: 700px) {
	.header {
		position: fixed;
		height: 55px;
		top: 92%;
		bottom: 0;
		z-index: 1;
	}

	.header:hover {
		animation-name: none;
	}

	h1 {
		font-size: 3em;
		width: 100%;
		height: 23%;
		border-radius: 0px;
	}

	h2 {
		font-size: 1.1em;
	}

	h3 {
		margin-bottom: 0px;
		font-size: 1em;
	}

	p {
		font-size: 0.9em;
	}

	li {
		font-size: 0.9em;
	}

	#mainmenu {
		font-size: 0.6em;
	}
}

@media (max-width: 500px) {
	#navigate {
		width: 100%;
		border-radius: 0px;
	}

	.navigate {
		border-radius: 0px;
		font-size: 2em;
	}

	h1 {
		font-size: 3em;
	}
}